services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_PORT:-9000}:9000"     # API
      - "${MINIO_CONSOLE_PORT:-9001}:9001"  # Console UI
    env_file:
      - .env

  # one-shot container that creates static (public) / media (private) buckets
  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    env_file:
      - .env
    volumes:
      - mdata:/data/
    restart: "on-failure"
    entrypoint: >
      /bin/sh -c '
        set -eu;

        echo "Waiting for MinIO...";
        until mc alias set local http://minio:9000 "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD" >/dev/null 2>&1; do
          sleep 1;
        done;

        echo "Creating buckets...";
        mc mb -p "local/$MINIO_DEFAULT_BUCKET" >/dev/null 2>&1 || true;
        mc mb -p "local/$MINIO_STATIC_BUCKET"  >/dev/null 2>&1 || true;

        echo "Setting policies...";
        mc anonymous set none     "local/$MINIO_DEFAULT_BUCKET" >/dev/null 2>&1 || true;
        mc anonymous set download "local/$MINIO_STATIC_BUCKET";

        echo "MinIO init done."
      '

volumes:
  pgdata:
  mdata:
