services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env

  mongo:
    image: mongo
    volumes:
      - mongodata:/data/db
    environment:
      MONGO_INITDB_DATABASE: $MONGO_DB
      MONGO_INITDB_ROOT_USERNAME: $MONGO_ROOT_USER
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_ROOT_PASSWORD
    ports:
      - "${MONGO_PORT}:27017"
    env_file:
      - .env

volumes:
  pgdata:
  mongodata:
