services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - pgdata:/var/lib/postgresql/18/data
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env

volumes:
  pgdata:
