.qr {
    display: block;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;

    background-color: #ffffff;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
}

.dark .qr {
    border-color: #374151;
}
