{% extends "admin/base.html" %}
{% load static %}

{# BRANDING SECTION #}
{% block branding %}
  <div id="site-name" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <a href="{% url 'admin:index' %}" style="flex-shrink: 0;">
      <img src="{% static 'logo/pum.png' %}" alt="PUM Logo" style="height:50px;">
    </a>
    <span style="font-weight: bold; font-size: 16px;">
      Electronic Biomedical Data Management System v1.0
    </span>
  </div>
{% endblock %}

{# FOOTER SECTION #}
{% block footer %}
  <div class="custom-footer" style="padding: 20px; border-top: 1px solid var(--border-color); background: var(--body-bg); font-size: 14px; text-align: center;">
    <p style="margin: 0; line-height: 1.6;">
      <strong>Regional Center For Digital Medicine (RCMC)</strong><br>
      Pomeranian Medical University in Szczepan
      <br>
      <hr style="width:50%; margin: 20px auto">
      Al. Powstańców Wielkopolskich 72<br>
      XX USK2 PUM<br><br>
      <strong>tel.:</strong> +48 91 466 15 59<br>
      <strong>e-mail:</strong> <a href="mailto:rcmc@pum.edu.pl">rcmc@pum.edu.pl</a>
    </p>
  </div>
{% endblock %}
